* {
	font-family: 'Libre Baskerville', serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: rgb(67, 202, 230);
}

html {
	scroll-behavior: smooth;
}

h5 {
	font-weight: 700 !important;
}

h6 {
	position: absolute;
	top: 0%;
	left: 10%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 0.5rem 0.7rem;
	border: 2px solid rgb(67, 202, 230);
	border-radius: 15px 30px;
}

textarea {
	resize: none;
}

.text-orange {
	color: rgb(255, 153, 51);
}

.border-custom {
	border: 2px solid rgb(67, 202, 230);
}

.sticky-button {
	background-color: rgb(56, 120, 133, 0.7);
	width: 30px;
	height: 30px;
	opacity: 0.7;
}

.border-radius-custom {
	border-radius: 10px 40px;
}

.border-radius-img-custom {
	border-radius: 10px 40px 0px 0px;
}

.border-radius-btn-custom {
	border-radius: 15px 35px;
}

.card-btn-custom {
    bottom: 0;
    left: 0;
    border: 0;
    border-top: 2px solid rgb(67, 202, 230);
    border-radius: 0;
}

.overflow-hidden {
	overflow: hidden;
}

.card {
	background-color: rgb(67, 202, 230);
}

.card-img-overlay {
    background-color: rgb(4, 33, 38, 0.75);
}

#footer {
	background-color: #042126;
}

.card a, #header a, #about-me button  {
	color: rgb(67, 202, 230);
	transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
}

#header a, #about-me button  {
	border: 2px solid rgb(67, 202, 230);
	padding: 6px 16px;
}

.bg-gray {
	background-color: rgb(67, 202, 230);
}

#text-header-container {
	z-index: 400;
	background-color: rgb(4, 33, 38, 0.8);
}

#header a:hover, .card a:hover, #about-me button:hover  {
	background-color: rgb(4, 33, 38, 0.9);
	color: rgb(76, 178, 199);
}

/*Media*/
@media(max-width:767px){
	h6 {
		position: absolute;
		background-color: transparent;
		color: white;
		padding: 0.5rem;
		border: none;
		border-bottom: 2px solid white;
		border-radius: 0;
		width: auto;
		font-size: 0.9rem;
	}

	a[href="#portfolio"] {
	    margin-bottom: 1rem;
	}

	.border-none-sm {
		border: hidden;
	}

	.sub-title-contact {
		bottom: 100%;
		left: 50%;
		transform: translate(-50%, 20%);
		padding-bottom: 1.3rem;
	}

	.sub-title-map {
		bottom: 75%;
		left: 50%;
		transform: translate(-50%, -130%);
		padding-bottom: 0.1rem;
	}

	#about-me {
		padding-top: 0.6rem !important;
	}

	#about-me, #portfolio {
		height: auto !important;
	}
}

/*Animation*/
#background {
	background: black url(../images/background.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 200s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#midground {
	background: url(../images/midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 200;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 150s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#foreground {
	background: url(../images/foreground.png) repeat 35% 35%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 300;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 100s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes STAR-MOVE {
	from {
		background-position: 5% 5%
	}
	to { 
		background-position: 1300% 600%
	}
}